.home-container {
    background-color: #E0858E;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto auto 5% auto;
    position: relative;
    padding: 2rem;
}

.intro {
    background-color: #e09c34;
    border-radius: 30px;
    padding: 50px;
}

.intro-content {
    font-size: 35px;
    text-align: center;
}
  
.home-container::before,
.home-container::after,
.home-container .corner::before,
.home-container .corner::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #6EB9BF;
    border-radius: 15px;
}

.home-container::before {
    top: 8px;
    left: 10px;
    transform: rotate(45deg);
    transform-origin: top left;
}

.home-container::after {
    top: 8px;
    right: 10px;
    transform: rotate(-45deg);
    transform-origin: top right;
}

.home-container .corner::before {
    bottom: 8px;
    left: 10px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.home-container .corner::after {
    bottom: 8px;
    right: 10px;
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.works-section {
    background-color: var(--accent-color);
    padding: 5%;
}

.works-section h3 {
    font-size: 35px;
    font-family: climate-crisis, sans-serif;
}

.works-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.work-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.work-item h2 {
    font-size: 35px;
    font-family: louis-george-cafe-italic, sans-serif;
    color: var(--body-color)
}

.work-img {
    width: 100%;
    margin: 15% auto;
}

/* Marker styling */
.marker {
    position: relative;
    margin: 0 40px;
    color: #333;
    text-decoration: none;
}
.marker svg {
    position: absolute;
    left: 0;
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    pointer-events: none;   
}
.marker path {
    transition: stroke-dashoffset 300ms linear;
    stroke-width: 1.0;
    stroke: #E63A26;
    fill: none;
    stroke-linecap: round;
}
.marker:hover path{
    stroke-dashoffset: 0;
} 


@media screen and (max-width: 980px) {
    .home-container {
        width: 90%;
    }

    .intro-content {
        font-size: 24px;
    }
    
    .works-container {
        flex-direction: column;
    }
}