.zagg-background {
    background-image: url('../../assets/zagg/zagg-background.webp'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e7e4d6;
}

.zagg-page-header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 5% 0;
}

.zagg-page-header img {
    width: 25%;
}

.zagg-page-header p {
    font-family: louis-george-cafe-BoldItalic, sans-serif;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}

.zagg-body {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.zagg-body h1 {
    font-family: louis-george-cafe-lightItalic, sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 0 15%;
}

.zagg-body p {
    font-family: louis-george-cafe, sans-serif;
    font-size: 36px;
    text-align: center;
}

.zagg-products {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    justify-items: center;
    align-items: center;
}

.zagg-products .lightBook {
    width: 100%;
}

.zagg-products .stylus {
    width: 60%;
}

.zagg-products .keys {
    width: 80%;
}

.zagg-products .brv {
    width: 55%;
}

@media (max-width: 768px) {
    .zagg-body {
        gap: 50px;
    }

    .zagg-body h1 {
        margin: 0;
        font-size: 24px;
    }

    .zagg-body p {
        font-size: 24px;
    }

    .zagg-products {
        grid-template-columns: auto;
        gap: 100px;
    }
}